@import url('https://fonts.googleapis.com/css2?family=Strait&display=swap');

:root {
  --primary: #425e52;
  --secondary: #5b7a6b;
  --text: #a3f39f;
  --dark: #06100a;
  --light: #e0e0e0;
  --border: #000000a0;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Strait', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

body {
  background-color: var(--dark);
  color: var(--text);
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

main {
  padding: 0 !important;
  margin: 0;
}