/* Loading Page Style */

.loading-page {
    background-color: #000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}