/* ---------- MAIN CSS FILE ---------- */

:root {
  --chyellow: #C0C040;
  --clyellow: #C0C040B0;
  --chred: #C04040;
  --clred: #C04040B0;
  --chgreen: #40C040;
  --clgreen: #40C040B0;
  --chwhite: #C0C0C0;
  --clwhite: #C0C0C0B0;
  --chblack: #202020;
  --clblack: #101010;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: var(--chyellow);
  font-size: 15px;
  font-family: 'Lucida Sans';
  overflow: hidden;
}

body {
  background-color: var(--clblack);
  width: 100vw;
  height: 100vh;
  padding: 5%;
  overflow: hidden;
}

.container-main {
  background-color: var(--chblack);
  width: 100%;
  height: 100%;
  position: relative;
}

.container-header {
  display: flex;
  height: 10%;
  padding: 0.5em;
}

.container-header-time {
  background-color: var(--clblack);
  border: solid 1px var(--clyellow);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 1.4em;
  font-weight: 500;
  justify-content: center;
  padding: 0.5em;
}

.container-header-date {
  background-color: var(--clblack);
  border: solid 1px var(--clyellow);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 1.4em;
  font-weight: 500;
  padding: 0.5em;
}

.container-body {
  display: flex;
  height: 90%;
  padding: 0.5em;
}

.container-body-aside {
  width: 20%;
  padding-right: 0.5em;
}

.days {
  border: solid 1px var(--clyellow);
  color: var(--clyellow);
  margin-bottom: 0.5em;
  padding: 0.5em;
  width: 100%;
  font-size: 100%;
  text-align: center;
  cursor: pointer;
}

.selected-day {
  background-color: var(--clyellow);
  color: var(--chblack);
}

.container-body-article {
  width: 80%;
}

table {
  width: 100%;
  height: 100%;
}

table tr td {
  outline: solid 1px var(--clyellow);
  position: relative;
}

.hours {
  background-color: var(--clgreen);
  color: var(--chwhite);
  position: absolute;
  padding: 0.2em;
  font-weight: 500;
  opacity: 0.8;
}

.empty-hour {
  background-color: var(--clred);
}

.textarea {
  background-color: var(--clblack);
  padding: 0.5em;
  padding-top: 2.5em;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  resize: none;
}

.current-hour {
  background-color: #00FF0015;
}

/* Customize 

textarea {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #872;
}

::-webkit-scrollbar-thumb:hover {
  background: #a84;
}

*/